<!-- views/partials/titleCard.ejs -->
<div class="container-fluid py-3 px-2 bg-info text-white title-card d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <h1 class="mb-0 me-3">Ink Pages 📚</h1>
        <img id="Search-Icon" width="45" src="search.png">
    </div>
    <div class="d-flex align-items-center flex-grow-1 ms-3">
        <input type="text" placeholder="Search.." class="form-control flex-grow-1 search-bar">
    </div>
    <div class="d-flex align-items-center">
        <a href="/addToCart">
            <img id="Shopping-Cart" width="50" src="shopping-cart-add.jpg" class="me-3">
        </a>
        <img id="User" width="50" src="Usericon.jpg">
    </div>
</div>


    